.form-inicio {
    margin-top: 3%;
    min-width: 400px;
    min-height: 370px;
    background: white;
    border-radius: 10px;
    padding-bottom: 20px;
}

.form-inicio h1 {
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid silver;
}

.form-inicio form {
    padding: 0 40px;
    box-sizing: border-box;

}